.stories_section,.story_detail_section {
  padding-top: 60px;
}

 
 .stories {
  display: flex;
  column-gap: 1.5rem;
 }

 .top {
  flex: 1;
 }

 @media screen and (max-width: 600px) {
  .stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
   }
 }